
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">            
          <%= link_to image_tag(listing.image.url), listing, data: {no_turbolink: true} %>
          <h4><%= listing.name %></h4>       
          <p><%= number_to_currency(listing.price) %></p> 
          <p><%# "Liked by #{listing.cached_votes_up}" %></p>
          <p><%= "by #{listing.seller.name}(#{listing.seller.aka_name})" %></p>
         </div>  
      </div>        
    </div>
  <% end %>  
</div>

<br>
<%= paginate @listings %>

<% if seller_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, data: {no_turbolink: true} %>
<% end %>

