

<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @listing.image.url %>
		</div>	
	</div>
	<div class="col-md-6">
		<h3><%= @listing.name %></h3>
		<p><%= "by #{@listing.seller.name}(#{@listing.seller.aka_name})" %></p>
		<% if user_signed_in? and current_user.liked? @listing.seller %>
			<p><%= link_to "unbookmark #{@listing.seller.name}", bookmark_listing_path(@listing), method: :put %></p>
		<% else %>
			<p><%= link_to "bookmark #{@listing.seller.name}", bookmark_listing_path(@listing), method: :put %></p>
		<% end %>

		<hr><br>
		
		<p><%# link_to "Liked ", like_listing_path(@listing), method: :put %><%# "by #{@listing.cached_votes_up}" %></p>
		<p><%= "#{@listing.description}" %></p>		
		<hr>

		<p><%= "Price: #{number_to_currency(@listing.price)}" %></p>
		<% if @listing.sold_date.saturday? %>
			<p><%= "Hours:#{@listing.seller.saturday_open_at} - #{@listing.seller.saturday_close_at}" %></p>
		<% elsif @listing.sold_date.sunday? %>
			<p><%= "Hours:#{@listing.seller.sunday_open_at} - #{@listing.seller.sunday_close_at}" %></p>
		<% else %>
			<p><%= "Hours:#{@listing.seller.weekday_open_at} - #{@listing.seller.weekday_close_at}" %></p>
		<% end %>		
		<p><%= "Tel: #{number_to_phone(@listing.seller.phone)}" %></p>
		<% if @listing.seller.address_line2.blank? %>
			<p><%= "Address: #{@listing.seller.address_line1}, #{@listing.seller.city}, #{@listing.seller.state}, #{@listing.seller.zip_code}" %></p>
		<% else %>
			<p><%= "Address: #{@listing.seller.address_line1}, #{@listing.seller.address_line2}, #{@listing.seller.city}, #{@listing.seller.state}, #{@listing.seller.zip_code}" %></p>
		<% end %>		

		<hr>		

		<div class="center">
			<%= link_to 'Order it now', new_listing_order_path(@listing), :id => :order_it_now, class: "btn btn-primary", data: {no_turbolink: true} %>
		</div>
	</div>	
</div>
<% if (@listing.seller == current_seller and @listing.sold_date != Date.today) or admin_signed_in? %>
	<%= link_to 'Edit', edit_listing_path(@listing) %> |
	<%= link_to 'Delete', @listing, method: :delete, data: {confirm: 'Are you sure to delete?'}, class: "btn btn-link" %>
<% end %>
