

<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @listing.image.url %>
		</div>	
	</div>
	<div class="col-md-6">
		<h3><%= @listing.name %></h3>
		<p3><%= "by #{@listing.seller.name}(#{@listing.seller.aka_name})" %></p3><br>
		<% if user_signed_in? and current_user.liked? @listing.seller %>
			<p3><%= link_to "unbookmark #{@listing.seller.name}", bookmark_listing_path(@listing), method: :put %></p3>
		<% else %>
			<p3><%= link_to "bookmark #{@listing.seller.name}", bookmark_listing_path(@listing), method: :put %></p3>
		<% end %>
		<br><br><br>

		<p><%= "price: #{number_to_currency(@listing.price)}" %></p>
		<p><%= "about: #{@listing.description}" %></p>
		<% if @listing.seller.address_line2.blank? %>
			<p><%= "address: #{@listing.seller.address_line1}, #{@listing.seller.city}, #{@listing.seller.state}, #{@listing.seller.zip_code}" %></p>
		<% else %>
			<p><%= "address: #{@listing.seller.address_line1}, #{@listing.seller.address_line2}, #{@listing.seller.city}, #{@listing.seller.state}, #{@listing.seller.zip_code}" %></p>
		<% end %>
		<br>
		<p3><%= link_to "Liked ", like_listing_path(@listing), method: :put %><%= "by #{@listing.get_likes.size}" %></p3> 
		<br><br><br>
		
		<div class="center">
			<%= link_to 'Order it now', new_listing_order_path(@listing), :id => :order_it_now, class: "btn btn-primary", data: {no_turbolink: true} %>
		</div>
	</div>	
</div>
<% if @listing.seller == current_seller %>
	<%= link_to 'Edit', edit_listing_path(@listing) %> |
	<%= link_to 'Delete', @listing, method: :delete, data: {confirm: 'Are you sure to delete?'}, class: "btn btn-link" %> |
<% end %>
