<%= form_for([@listing, @order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.stripe_customer_id.nil? or current_user.stripe_customer_id.empty? %>
    <div class="row">
      <div class="col-md-8">
        <div class="from-group">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, {:name => nil, :'data-stripe' => "number", class: "form-control"} %>
        </div>
      </div>  
      <div class="col-md-4">
        <div class="from-group">
          <%= label_tag :card_code, "CVC" %>
          <%= text_field_tag :card_code, nil, {:name => nil, :'data-stripe' => "CVC", class: "form-control"} %>    
        </div>
      </div>  
    </div>
    <br>    
    <div class="from-group">
      <%= label_tag "expiration", "Expiration" %><br>
      <%= select_month nil, { use_two_digit_number: true}, { :name => nil, :'data-stripe' => "exp-month", class: "from-control"} %>
      <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+15}, { :name => nil, :'data-stripe' => "exp-year", class: "from-control"} %>    
    </div>
    <br> 
    <div class="from-group">
      <%= label_tag "remeber my credit card", "remember my credit card" %>
      <%= check_box_tag 'rmcc', 'yes', true %><br>
    </div>
  <% else %>
    <% # WQ TODO: displaying the last 4 digits of the credit card %>
    <div class="from-group">
      <% customer = Stripe::Customer.retrieve(current_user.stripe_customer_id) %>
      <%= label_tag :last_four_digits, "Using your saved credit card ending with:" %>      
      <%= text_field_tag :last_four_digits, customer.sources.data[0].last4, {:disabled => true, :size => 4} %>      
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>  
<% end %>
