<%= form_for([@listing, @order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br><br>

  <div class='form_group'>
    <%= label_tag :order_summary, "YOUR NEW ORDER: #{@listing.name} FROM #{@listing.seller.name}" %>
    <% if @listing.sold_date.saturday? %>
      <i><%= "(Hours:#{@listing.seller.saturday_open_at} - #{@listing.seller.saturday_close_at})" %></i>   
    <% elsif @listing.sold_date.sunday? %>
      <i><%= "(Hours:#{@listing.seller.sunday_open_at} - #{@listing.seller.sunday_close_at})" %></i>
    <% else %>
      <i><%= "(Hours:#{@listing.seller.weekday_open_at} - #{@listing.seller.weekday_close_at})" %></i>
    <% end %>  
  </div>

  <hr><br>

  <div class="form_group">
    
    <%=label_tag :nr_order, "How many orders do you want?" %>

    <div class="row">
      <div class="col-md-1">
        <%= f.select :nr_order, options_for_select([['x1',1],
                                                    ['x2',2],
                                                    ['x3',3],
                                                    ['x4',4],
                                                    ['x5',5],
                                                    ['x6',6],
                                                    ['x7',7],
                                                    ['x8',8],
                                                    ['x9',9],
                                                    ['x10',10]], @nr_order) %>
      </div>
      <div class = 'col-md-2'>
        <div class="form-group">
          <%= link_to "update quantity", new_listing_order_path(@listing), :id => :quantity_update, data: {no_turbolink: true} %>
        </div>   
      </div>
    </div>
  </div>

  <br>
  
  <% @pre_tax = @listing.price * @nr_order * 100 %>
  <% @tax = (@pre_tax * @listing.seller.tax_rate * 0.01).ceil %>
  <% @total_price =  (@pre_tax + @tax).ceil %>
  <% @tax = @tax * 0.01 %>
  <% @total_price = @total_price * 0.01 %>


  <div class="row">
    <div class="col-md-4">
      <table class="table table-condensed"> 
        <tr>
          <td class="center">Item</td>
          <td class="center"><%= "#{number_to_currency(@listing.price)} * #{@nr_order}" %></td>
        </tr>
        <tr>
          <td class="center">Estimated Tax</td>
          <td class="center"><%= number_to_currency(@tax) %></td>
        </tr>
        <tr>
          <td class="center">Total</td>
          <td class="center"><%= number_to_currency(@total_price) %></td>
        </tr>    
      </table>
    </div>
  </div>

  <hr>
  
  <% if current_user.stripe_customer_id.nil? or current_user.stripe_customer_id.empty? %> <%# customer who haven't saved credit card %>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, {:name => nil, :'data-stripe' => "number", :autofocus => :ture, class: "form-control"} %>
        </div>
      </div>  
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag :card_code, "CVC" %>
          <%= text_field_tag :card_code, nil, {:name => nil, :'data-stripe' => "CVC", class: "form-control"} %>    
        </div>
      </div>  
    </div>   
    <div class="form-group">
      <%= label_tag "expiration", "Expiration" %><br>
      <%= select_month nil, { use_two_digit_number: true}, { :name => nil, :'data-stripe' => "exp-month", class: "from-control"} %>
      <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+15}, { :name => nil, :'data-stripe' => "exp-year", class: "from-control"} %>    
    </div>
    <br> 

    <div class="form-group">
      <%= label_tag :billing_address, "Billing Address" %>  
    </div>
    <div class="form-group">
      <%= label_tag :billing_address1, "line 1" %>
      <%= text_field_tag :billing_address1, nil, {:name => nil, :'data-stripe' => "address_line1", class: "form-control"} %>    
    </div>
    <br>
    <div class="form-group">
      <%= label_tag :billing_address2, "line 2(optional)" %>
      <%= text_field_tag :billing_address2, nil, {:name => nil, :'data-stripe' => "address_line2", class: "form-control"} %>    
    </div>
    <br>    
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag :city, "city" %>
          <%= text_field_tag :city, nil, {:name => nil, :'data-stripe' => "address_city", class: "form-control"} %>    
        </div>
      </div>
      <div class="col-md-4">  
        <div class="form-group">
          <%= label_tag :state, "state" %>
          <%= select_tag :state, options_for_select(us_states), {:name => nil, :'data-stripe' => "address_state", class: "form-control"} %>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="form-group">
          <%= label_tag :zip_code, "zip code" %>
          <%= text_field_tag :zip_code, nil, {:name => nil, :'data-stripe' => "address_zip", class: "form-control"} %>    
        </div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <%= label_tag "remeber my credit card", "remember my credit card" %>
      <%= check_box_tag 'rmcc', 'yes', true %><br>
    </div>
  <% else %> <%# customer who saved Credit card %>
      <% customer = Stripe::Customer.retrieve(current_user.stripe_customer_id) %>
      <br>
      <div class="form-group">
        <%= label_tag :saved_card, "Using your saved credit card" %>      
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag :last_four_digits, "last 4 digits" %>      
            <%= text_field_tag :last_four_digits, customer.sources.data[0].last4, {:disabled => true, :size => 4, class: "form-control"} %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag :brand, "brand" %>   
            <%= text_field_tag :brand, customer.sources.data[0].brand, {:disabled => true, class: "form-control"} %>      
          </div>  
        </div>          
        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag :expiration, "expiration" %>   
            <%= text_field_tag :expiration, "#{customer.sources.data[0].exp_month}/#{customer.sources.data[0].exp_year}",  {:disabled => true, class: "form-control"} %>      
          </div>  
        </div>          
      </div>
  <% end %>

  <hr>
  
  <div class="form-group">
    <%= f.label :pickup_time, "Select your pickup time" %>

    <%= f.select :pickup_time, options_for_select([
      ["11:00AM", "#{@listing.sold_date} 11:00AM".to_time],
      ["11:30AM", "#{@listing.sold_date} 11:30AM".to_time],
      ["12:00PM", "#{@listing.sold_date} 12:00PM".to_time],
      ["12:30PM", "#{@listing.sold_date} 12:30PM".to_time], 
      ["1:00PM", "#{@listing.sold_date} 13:00PM".to_time],
      ["1:30PM", "#{@listing.sold_date} 13:30PM".to_time],
      ["2:00PM", "#{@listing.sold_date} 14:00PM".to_time],
      ["2:30PM", "#{@listing.sold_date} 14:30PM".to_time],
      ["3:00PM", "#{@listing.sold_date} 15:00PM".to_time],
      ["5:00PM", "#{@listing.sold_date} 17:00PM".to_time],
      ["5:30PM", "#{@listing.sold_date} 17:30PM".to_time],
      ["6:00PM", "#{@listing.sold_date} 18:00PM".to_time],
      ["6:30PM", "#{@listing.sold_date} 18:30PM".to_time],
      ["7:00PM", "#{@listing.sold_date} 19:00PM".to_time],
      ["7:30PM", "#{@listing.sold_date} 19:30PM".to_time],
      ["8:00PM", "#{@listing.sold_date} 20:00PM".to_time],
      ["8:30PM", "#{@listing.sold_date} 20:30PM".to_time]
      ],"#{@listing.sold_date} 12:30PM".to_time)
    %>


    <i>(please place your order online at least 30 minutes before picking up)</i>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>  
<% end %>
