<div class="center">
  <h2>Your sales history Today</h2><br>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="text-center">Image</th>
    <th class="text-center">Item</th>
    <th class="text-center">Price</th>
    <th class="text-center">Buyer</th>
    <th class="text-center">number of orders</th>    
    <th class="text-center">Order number</th>    
    <th class="text-center">Pick up at</th>
    <th class="text-center">Purchased at</th>
    <th class="text-center">Is picked up?</th>
  </tr>
  
  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= image_tag order.listing.image.url(:thumb) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="center"><%= number_to_currency(order.listing.price) %></td>
      <td class="center"><%= order.user.email %></td>
      <td class="center"><%= order.nr_order %></td>
      <td class="center"><%= order.order_id %></td>      
      <td class="center"><%= order.pickup_time.getlocal.strftime("%H:%M") %></td>
      <td class="center"><%= order.created_at.getlocal.strftime("%H:%M, %B %-d, %Y") %></td>
      <td class="center"><%= link_to "#{order.is_pickedup}", confirm_pickup_path(order, :id => order.id), class: "btn btn-default" %></td>
    </tr>
  <% end %>
</table>

<%= paginate @orders %>

